{% extends 'base.html' %}
 {% block title %} Our Services {% endblock title %} 
{% block head %}

<div
class="row gy-4 mt-5 justify-content-center"
data-aos="zoom-in"
data-aos-delay="250"
>
<div class="col-xl-4 col-md-4">
  <div class="icon-box">
    <i class="bi bi-heart-pulse-fill"></i>
    <h3><a href="ri-image">YOGA</a></h3>
  </div>
</div>
<div class="col-xl-4 col-md-4">
  <div class="icon-box">
    <i class="bi bi-award-fill"></i>
    <h3><a href="">BOXING</a></h3>
  </div>
</div>
<div class="col-xl-4 col-md-4">
  <div class="icon-box">
    <i class="bi bi-bar-chart-steps"></i>
    <h3><a href="">CARDIO</a></h3>
  </div>
</div>
<div class="col-xl-4 col-md-4">
  <div class="icon-box">
    <i class="bi bi-music-note-beamed"></i>
    <h3><a href="">ZUMBA</a></h3>
  </div>
</div>
<div class="col-xl-4 col-md-4">
  <div class="icon-box">
    <i class="bi bi-patch-check-fill"></i>
    <h3><a href=""> PERSIONALTRANING</a></h3>
  </div>
</div>
</div>

{% endblock head %}
{% block body %}
<div class="row">
<div class="col-md-4">
{% for post in posts  %}  
<img src="{{post.simg.url}}" class="card-img-top" alt="...">
</div>
<div class="col-md-8">
<h1 >{{post.sname}}</h1>
<h5>{{post.about}}</h5>
</div> 
</div> 
{% endfor %} 




{% endblock body %}